n8n_workflows/01_fluxo_principal.json
{
  "name": "Buildesign - Fluxo Principal WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buildesign-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "buildesign-webhook"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados da mensagem da Evolution API\nconst body = $input.first().json.body || $input.first().json;\n\n// Suporte para formato Evolution API v2\nconst data = body.data || body;\nconst event = body.event || '';\n\n// Ignorar mensagens enviadas pelo próprio bot\nif (event === 'messages.upsert' && data.key && data.key.fromMe === true) {\n  return [];\n}\n\n// Ignorar grupos e broadcast\nif (data.key && data.key.remoteJid && data.key.remoteJid.endsWith('@g.us')) {\n  return [];\n}\nif (data.key && data.key.remoteJid && data.key.remoteJid.endsWith('@broadcast')) {\n  return [];\n}\n\nconst remoteJid = data.key?.remoteJid || '';\nconsole.log('[DEBUG] remoteJid original:', remoteJid);\nlet whatsapp = remoteJid.split('@')[0].replace(/\\D/g, '');\nif (whatsapp.length > 13) {\n  whatsapp = whatsapp.slice(whatsapp.length - 13);\n}\nconsole.log('[DEBUG] whatsapp processado:', whatsapp);\nconst pushName = data.pushName || '';\n\nlet messageType = 'texto';\nlet messageContent = '';\nlet audioUrl = '';\nlet hasUrl = false;\nlet extractedUrl = '';\n\nconst msg = data.message || {};\n\nif (msg.conversation) {\n  messageContent = msg.conversation;\n} else if (msg.extendedTextMessage?.text) {\n  messageContent = msg.extendedTextMessage.text;\n} else if (msg.audioMessage) {\n  messageType = 'audio';\n  audioUrl = msg.audioMessage.url || data.mediaUrl || '';\n  if (!audioUrl && data.base64) {\n    audioUrl = 'base64:' + data.base64;\n  }\n} else if (msg.imageMessage?.caption) {\n  messageContent = msg.imageMessage.caption;\n} else if (msg.videoMessage?.caption) {\n  messageContent = msg.videoMessage.caption;\n} else if (msg.documentMessage) {\n  messageContent = '[Documento enviado]';\n} else if (msg.stickerMessage) {\n  messageContent = '[Sticker]';\n} else {\n  messageContent = '[Mensagem não suportada]';\n}\n\nif (messageType === 'texto' && messageContent) {\n  const urlRegex = /(https?:\\/\\/[^\\s]+)|(www\\.[^\\s]+)|([a-zA-Z0-9-]+\\.(com|com\\.br|net|org|io|dev|site|online|store|app|tech|digital|design|agency|pro|biz|info)(\\.[a-z]{2})?(\\/[^\\s]*)?)/gi;\n  const urls = messageContent.match(urlRegex);\n  if (urls && urls.length > 0) {\n    hasUrl = true;\n    extractedUrl = urls[0];\n    if (!extractedUrl.startsWith('http')) {\n      extractedUrl = 'https://' + extractedUrl;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    whatsapp,\n    pushName,\n    messageType,\n    messageContent,\n    audioUrl,\n    hasUrl,\n    extractedUrl,\n    rawEvent: event,\n    instanceName: body.instance || '',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Extrair Dados da Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-texto",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "texto",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "É Texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-audio",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "audio",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "É Áudio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 500]
    },
    {
      "parameters": {
        "url": "=https://evolution-api-production-6eb4.up.railway.app/chat/getBase64FromMediaMessage/buildesign-teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "zapplia123" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: { key: $('Webhook Evolution API').first().json.body?.data?.key || $('Webhook Evolution API').first().json.data?.key } }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Baixar Áudio Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": { "language": "pt", "temperature": 0 }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Whisper Transcrição",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1250, 600],
      "continueOnFail": true,
      "credentials": {
        "openAiApi": { "id": "openai-credential", "name": "OpenAI account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// O predecessor (É Texto?, É Áudio? false, ou Whisper) sempre passa os dados da mensagem\nconst items = $input.all();\nconst item = items[0]?.json || {};\n\nlet messageContent = '';\nlet transcricaoAudio = null;\n\nif (item.text) {\n  // Vindo do Whisper: 'text' é a transcrição do áudio\n  messageContent = item.text;\n  transcricaoAudio = item.text;\n} else {\n  messageContent = item.messageContent || '';\n}\n\nreturn [{\n  json: {\n    ...item,\n    messageContent: messageContent || item.messageContent || '',\n    transcricaoAudio,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Unificar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-url",
              "leftValue": "={{ $json.hasUrl }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Tem URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1750, 400]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url={{ encodeURIComponent($json.extractedUrl) }}&category=PERFORMANCE&category=ACCESSIBILITY&category=BEST_PRACTICES&category=SEO&strategy=mobile&locale=pt_BR",
        "options": { "timeout": 60000 }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "PageSpeed Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const pageSpeed = $input.first()?.json || {};\nconst original = $('Unificar Mensagem').first()?.json || {};\n\nlet analise = '';\n\ntry {\n  const cats = pageSpeed.lighthouseResult?.categories || {};\n  const perf = Math.round((cats.performance?.score || 0) * 100);\n  const access = Math.round((cats.accessibility?.score || 0) * 100);\n  const bp = Math.round((cats['best-practices']?.score || 0) * 100);\n  const seo = Math.round((cats.seo?.score || 0) * 100);\n\n  const audits = pageSpeed.lighthouseResult?.audits || {};\n  const fcp = audits['first-contentful-paint']?.displayValue || 'N/A';\n  const lcp = audits['largest-contentful-paint']?.displayValue || 'N/A';\n  const cls = audits['cumulative-layout-shift']?.displayValue || 'N/A';\n  const speed = audits['speed-index']?.displayValue || 'N/A';\n  const mobile = audits['viewport']?.score === 1 ? 'Sim' : 'Não';\n\n  analise = `\\n📊 ANÁLISE DO SITE: ${original.extractedUrl || ''}\\n`;\n  analise += `\\n🏆 PONTUAÇÕES GOOGLE PAGESPEED (Mobile):\\n`;\n  analise += `• Performance: ${perf}/100\\n`;\n  analise += `• Acessibilidade: ${access}/100\\n`;\n  analise += `• Boas Práticas: ${bp}/100\\n`;\n  analise += `• SEO: ${seo}/100\\n`;\n  analise += `\\n⚡ MÉTRICAS DE VELOCIDADE:\\n`;\n  analise += `• First Contentful Paint: ${fcp}\\n`;\n  analise += `• Largest Contentful Paint: ${lcp}\\n`;\n  analise += `• Cumulative Layout Shift: ${cls}\\n`;\n  analise += `• Speed Index: ${speed}\\n`;\n  analise += `• Responsivo (Mobile): ${mobile}\\n`;\n\n  const problems = [];\n  if (perf < 50) problems.push('Performance muito baixa');\n  if (perf >= 50 && perf < 80) problems.push('Performance pode melhorar');\n  if (access < 80) problems.push('Acessibilidade precisa de atenção');\n  if (seo < 80) problems.push('SEO precisa ser otimizado');\n  if (bp < 80) problems.push('Boas práticas não seguidas');\n  if (mobile === 'Não') problems.push('Site NÃO é responsivo');\n\n  if (problems.length > 0) {\n    analise += `\\n⚠️ PROBLEMAS IDENTIFICADOS:\\n`;\n    problems.forEach(p => analise += `• ${p}\\n`);\n  }\n} catch(e) {\n  analise = `Não foi possível analisar o site. Erro: ${e.message}`;\n}\n\nreturn [{\n  json: {\n    ...original,\n    analiseSite: analise,\n    temAnaliseSite: true\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Processar PageSpeed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Predecessor é 'Tem URL?' (false branch) que passa os dados de Unificar Mensagem adiante\nconst original = $input.first()?.json || {};\nreturn [{\n  json: {\n    ...original,\n    analiseSite: '',\n    temAnaliseSite: false\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000012",
      "name": "Sem Análise de Site",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM leads WHERE whatsapp = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.whatsapp] }}"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000013",
      "name": "Buscar Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2500, 400],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "postgres-credential", "name": "Buildesign PostgreSQL" }
      }
    },
    {
      "parameters": {
        "jsCode": "// 'Extrair Dados da Mensagem' sempre executa em todo caminho do fluxo\n// É a fonte confiável de whatsapp, pushName, messageContent etc.\nconst msgData = $('Extrair Dados da Mensagem').first()?.json || {};\n\n// Buscar Lead com alwaysOutputData:true e continueOnFail:true:\n// - Lead encontrado: $input tem a linha do banco {id, nome, whatsapp, status, ...}\n// - Lead não encontrado: $input tem {} (Postgres não passa o item de entrada)\n// - Erro: $input tem {error: ...}\nconst allItems = $input.all();\nconst firstItem = allItems.length > 0 ? allItems[0].json : {};\n\nconst hasError = !!firstItem.error;\nconst leadExists = !hasError && firstItem.id != null;\nconst leadRow = leadExists ? firstItem : null;\n\nreturn [{\n  json: {\n    ...msgData,\n    leadExists,\n    leadId: leadRow?.id ?? null,\n    leadNome: leadRow?.nome ?? msgData.pushName ?? '',\n    leadStatus: leadRow?.status ?? 'novo',\n    leadCategoria: leadRow?.categoria ?? null,\n    leadInteresses: leadRow?.interesses ?? null,\n    leadHistoricoResumo: leadRow?.historico_resumo ?? null\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000014",
      "name": "Verificar Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-lead-exists",
              "leftValue": "={{ $json.leadExists }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000015",
      "name": "Lead Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3000, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (nome, whatsapp, status, data_cadastro) VALUES ($1, $2, 'novo', NOW()) RETURNING *",
        "options": {
          "queryReplacement": "={{ [$json.pushName || $json.whatsapp || 'Cliente', $json.whatsapp] }}"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000016",
      "name": "Criar Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3250, 550],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "postgres-credential", "name": "Buildesign PostgreSQL" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Vindo de 'Lead Existe?' true → $input = output de Verificar Lead (tem leadId e msgData)\n// Vindo de 'Criar Lead' → $input = linha inserida com RETURNING * (tem 'id', perde msgData)\n// Usar Extrair Dados da Mensagem garante que whatsapp, pushName, messageContent etc. sempre existem\nconst msgData = $('Extrair Dados da Mensagem').first()?.json || {};\nconst inputData = $input.first()?.json || {};\nconst leadId = inputData.id ?? inputData.leadId ?? null;\n\nreturn [{\n  json: {\n    ...msgData,\n    ...inputData,\n    leadId\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000017",
      "name": "Definir Lead ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.mensagem, c.tipo, c.data_hora, c.transcricao_audio FROM conversas c WHERE c.lead_id = $1 ORDER BY c.data_hora DESC LIMIT 10",
        "options": {
          "queryReplacement": "={{ [$json.leadId] }}"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000018",
      "name": "Buscar Histórico",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3750, 400],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "postgres-credential", "name": "Buildesign PostgreSQL" }
      }
    },
    {
      "parameters": {
        "jsCode": "const msgData = $('Definir Lead ID').first()?.json || {};\nconst historicoRows = $input.all().map(i => i.json).filter(h => h && h.mensagem);\n\nlet historicoFormatado = '';\nif (historicoRows.length > 0) {\n  const reversed = [...historicoRows].reverse();\n  historicoFormatado = reversed.map(h => {\n    const tipo = h.tipo === 'recebida' ? '👤 Cliente' : '🤖 Gustavo';\n    let dataStr = '';\n    try { dataStr = new Date(h.data_hora).toLocaleString('pt-BR'); } catch(e) { dataStr = ''; }\n    let msg = h.mensagem || '';\n    if (h.transcricao_audio) msg += ` [Áudio transcrito: ${h.transcricao_audio}]`;\n    return `${tipo} (${dataStr}): ${msg}`;\n  }).join('\\n');\n} else {\n  historicoFormatado = 'Primeira interação - sem histórico anterior.';\n}\n\nlet mensagemAtual = msgData.messageContent || '';\nif (msgData.transcricaoAudio) {\n  mensagemAtual = `[Áudio transcrito]: ${msgData.transcricaoAudio}`;\n}\n\nlet contextSite = '';\nif (msgData.temAnaliseSite && msgData.analiseSite) {\n  contextSite = `\\n\\n--- ANÁLISE AUTOMÁTICA DO SITE DO CLIENTE ---\\n${msgData.analiseSite}\\n--- FIM DA ANÁLISE ---`;\n}\n\nreturn [{\n  json: {\n    ...msgData,\n    historicoFormatado,\n    mensagemAtual,\n    contextSite,\n    promptContext: `\nINFORMAÇÕES DO LEAD:\n- Nome: ${msgData.leadNome || msgData.pushName || 'Desconhecido'}\n- WhatsApp: ${msgData.whatsapp || ''}\n- Status atual: ${msgData.leadStatus || 'novo'}\n- Categoria: ${msgData.leadCategoria || 'Não classificado'}\n- Interesses: ${msgData.leadInteresses || 'Não identificados'}\n- Resumo do histórico: ${msgData.leadHistoricoResumo || 'Sem resumo anterior'}\n\nHISTÓRICO DAS ÚLTIMAS CONVERSAS:\n${historicoFormatado}\n\nMENSAGEM ATUAL DO CLIENTE:\n${mensagemAtual}\n${contextSite}`\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000019",
      "name": "Montar Contexto GPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4000, 400]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o-mini',\n  temperature: 0.7,\n  max_tokens: 600,\n  messages: [\n    {\n      role: 'system',\n      content: 'Você é Gustavo, assistente da BuilDesign. Você é humano — NUNCA diga que é IA, robô ou assistente virtual. Se perguntarem, diga que é da equipe da BuilDesign.\\n\\n## IDENTIDADE\\n- Nome: Gustavo\\n- Tom: descontraído, simpático, direto — como um bom vendedor\\n- Português brasileiro informal mas profissional\\n\\n## REGRAS ABSOLUTAS\\n1. NUNCA invente informações que não estão neste prompt\\n2. NUNCA mencione preços ou serviços fora da lista abaixo\\n3. Se não souber algo: diga \"deixa eu verificar isso com a equipe\"\\n4. Mensagens CURTAS — máximo 2-3 linhas por mensagem\\n5. NUNCA seja robótico ou use frases genéricas de chatbot\\n6. 1-2 emojis por mensagem no máximo\\n7. Seja direto e objetivo como um bom vendedor\\n\\n## FLUXO DE ATENDIMENTO\\n1. Cumprimente e pergunte o nome\\n2. Entenda o que o cliente precisa\\n3. Apresente a solução mais adequada\\n4. Tire dúvidas\\n5. Ofereça reunião quando sentir interesse real\\n\\n## EMPRESA: BuilDesign — Agência Digital Premium\\nSlogan: Transformamos digital em resultados\\nDados: 5+ anos de experiência | 50+ projetos entregues | 98% de satisfação | suporte 24h\\nDiferencial: sem mensalidade obrigatória, 3 meses de manutenção inclusos, entrega rápida\\n\\n## SERVIÇOS E PREÇOS (use APENAS esses — NUNCA invente outros)\\n\\n### Landing Pages\\n- LP Simples (WhatsApp): R$ 297 — foco em conversão, hospedagem inclusa, textos inclusos, entrega 2 dias, suporte 3 meses\\n- LP + Checkout + IA: R$ 397 — tudo anterior + Mercado Pago, domínio incluso, assistente IA, captura leads CRM, fluxo anúncios\\n- LP Profissional + Checkout + IA + Painel ADM: R$ 697 — tudo anterior + painel ADM, secretária virtual 24/7, SEO, Analytics\\n\\n### Sites Institucionais\\n- Site Completo até 7 páginas: R$ 1.397 — painel ADM, SEO, hospedagem e domínio inclusos, suporte 3 meses\\n\\n### E-commerce\\n- E-commerce Completo: R$ 1.597 — loja completa, checkout integrado, painel ADM, SEO, suporte 3 meses\\n- E-commerce + IA: R$ 1.797 — tudo anterior + atendimento 24/7, CRM, automação de marketing\\n\\n### Sites com Sistemas\\n- Site com Sistema: R$ 1.897 — sistema web completo, painel admin, integrações, SEO, suporte 3 meses\\n- Sistema + IA + API: R$ 2.497 — sistema completo, secretária virtual treinada, CRM avançado, integrações via APIs\\n\\n### Sob Consulta (diga apenas \"sob consulta\" para esses)\\n- Social Media: identidade visual, calendário editorial, copywriting, relatórios mensais\\n- Consultoria Digital: diagnóstico, plano de ação, acompanhamento\\n\\n## CLASSIFICAÇÃO DO LEAD\\n- MUITO_QUENTE: pediu orçamento, falou em prazo, mencionou investimento, quer reunião\\n- QUENTE: interesse claro, perguntas sobre serviços específicos, pediu portfólio\\n- MORNO: pesquisando, perguntas genéricas, sem urgência\\n- FRIO: só curiosidade, sem necessidade clara, perguntou preço sem contexto\\n\\n## QUANDO SUGERIR REUNIÃO\\nQuando o lead estiver QUENTE ou MUITO_QUENTE, ou descrever um projeto.\\nEx: \"Que tal a gente bater um papo rápido de 15 min? Consigo montar uma proposta personalizada pra você 😊\"\\n\\n## FORMATO OBRIGATÓRIO DA RESPOSTA\\nJSON puro (sem markdown, sem código, apenas o JSON):\\n{\\n  \"resposta\": \"sua mensagem curta (máx 2-3 linhas)\",\\n  \"categoria\": \"MUITO_QUENTE|QUENTE|MORNO|FRIO\",\\n  \"interesses\": \"interesses identificados\",\\n  \"resumo\": \"resumo breve da conversa\",\\n  \"sugerir_reuniao\": true/false,\\n  \"intencao\": \"intenção do cliente\"\\n}'\n    },\n    {\n      role: 'user',\n      content: $json.promptContext\n    }\n  ]\n}) }}",
        "options": { "timeout": 60000 }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000020",
      "name": "GPT-4o Mini Agente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4250, 400],
      "continueOnFail": true,
      "credentials": {
        "openAiApi": { "id": "openai-credential", "name": "OpenAI account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const gptResponse = $input.first()?.json || {};\n// Montar Contexto GPT tem todos os dados acumulados do pipeline\nconst msgData = $('Montar Contexto GPT').first()?.json || {};\n\nlet resposta = '';\nlet categoria = 'MORNO';\nlet interesses = '';\nlet resumo = '';\nlet sugerirReuniao = false;\nlet intencao = '';\n\ntry {\n  // Null-safe: garante que choices[0] existe antes de acessar\n  const content = gptResponse?.choices?.[0]?.message?.content?.trim() || '';\n  if (!content) throw new Error('GPT retornou resposta vazia');\n\n  let parsed;\n  try {\n    parsed = JSON.parse(content);\n  } catch(e) {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[0]);\n    } else {\n      parsed = { resposta: content };\n    }\n  }\n\n  resposta = parsed.resposta || content;\n  categoria = parsed.categoria || 'MORNO';\n  interesses = parsed.interesses || '';\n  resumo = parsed.resumo || '';\n  sugerirReuniao = parsed.sugerir_reuniao || false;\n  intencao = parsed.intencao || '';\n} catch(e) {\n  resposta = 'Oi! Tudo bem? 😊 Sou o Gustavo da BuilDesign. Como posso te ajudar?';\n}\n\nreturn [{\n  json: {\n    ...msgData,\n    respostaGPT: resposta,\n    categoria,\n    interesses,\n    resumo,\n    sugerirReuniao,\n    intencao\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000021",
      "name": "Processar Resposta GPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4500, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversas (lead_id, mensagem, tipo, data_hora, transcricao_audio) VALUES ($1, $2, 'recebida', NOW(), $3)",
        "options": {
          "queryReplacement": "={{ [$json.leadId, $json.messageContent, $json.transcricaoAudio || null] }}"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000022",
      "name": "Salvar Msg Recebida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4750, 200],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "postgres-credential", "name": "Buildesign PostgreSQL" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversas (lead_id, mensagem, tipo, data_hora) VALUES ($1, $2, 'enviada', NOW())",
        "options": {
          "queryReplacement": "={{ [$json.leadId, $json.respostaGPT] }}"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000023",
      "name": "Salvar Msg Enviada",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4750, 400],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "postgres-credential", "name": "Buildesign PostgreSQL" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status = $1, categoria = $1, data_ultimo_contato = NOW(), data_followup_3dias = NOW() + INTERVAL '3 days', data_followup_5dias = NOW() + INTERVAL '5 days', interesses = $2, historico_resumo = $3, nome = COALESCE(NULLIF($4, ''), nome) WHERE id = $5",
        "options": {
          "queryReplacement": "={{ [$json.categoria, $json.interesses || '', $json.resumo || '', $json.pushName || '', $json.leadId] }}"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000024",
      "name": "Atualizar Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4750, 600],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "postgres-credential", "name": "Buildesign PostgreSQL" }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first()?.json || {};\nconst resposta = dados.respostaGPT || '';\n\nlet partes = resposta.split(/\\n\\n+/).filter(p => p.trim().length > 0);\n\nif (partes.length <= 1) {\n  partes = resposta.split(/\\n/).filter(p => p.trim().length > 0);\n}\n\nif (partes.length <= 1 && resposta.length > 200) {\n  const sentencas = resposta.match(/[^.!?]+[.!?]+/g) || [resposta];\n  partes = sentencas.filter(p => p.trim().length > 0);\n}\n\nif (partes.length === 0) {\n  partes = [resposta || 'Olá! Como posso te ajudar?'];\n}\n\nreturn partes.map(parte => ({\n  json: {\n    ...dados,\n    parteMensagem: parte.trim()\n  }\n}));"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000029",
      "name": "Dividir em Partes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-6eb4.up.railway.app/chat/sendPresence/buildesign-teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "zapplia123" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $json.whatsapp, options: { presence: 'composing', delay: 5000 } } }}",
        "options": { "timeout": 10000 }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000031",
      "name": "Simular Digitando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 5,
        "unit": "seconds"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000032",
      "name": "Aguardar 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [5750, 400],
      "webhookId": "buildesign-wait-typing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-6eb4.up.railway.app/message/sendText/buildesign-teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "zapplia123" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $json.whatsapp, textMessage: { text: $json.parteMensagem } } }}",
        "options": { "timeout": 30000 }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000025",
      "name": "Enviar Parte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6000, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-reuniao",
              "leftValue": "={{ $json.sugerirReuniao }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000026",
      "name": "Sugeriu Reunião?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [6250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT valor FROM configuracoes WHERE chave = 'whatsapp_dono' LIMIT 1",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000027",
      "name": "Buscar WhatsApp Dono",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [6500, 200],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "postgres-credential", "name": "Buildesign PostgreSQL" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-6eb4.up.railway.app/message/sendText/buildesign-teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "zapplia123" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $input.first().json.valor, textMessage: { text: '🔔 ALERTA LEAD QUENTE!\\n\\nNome: ' + ($('Processar Resposta GPT').first()?.json?.leadNome || '') + '\\nWhatsApp: ' + ($('Processar Resposta GPT').first()?.json?.whatsapp || '') + '\\nCategoria: ' + ($('Processar Resposta GPT').first()?.json?.categoria || '') + '\\nIntenção: ' + ($('Processar Resposta GPT').first()?.json?.intencao || '') + '\\nInteresses: ' + ($('Processar Resposta GPT').first()?.json?.interesses || '') + '\\n\\n💡 O lead demonstrou interesse em agendar reunião!' } } }}",
        "options": { "timeout": 30000 }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000028",
      "name": "Notificar Dono Lead Quente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6750, 200],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [[
        { "node": "Responder Webhook", "type": "main", "index": 0 },
        { "node": "Extrair Dados da Mensagem", "type": "main", "index": 0 }
      ]]
    },
    "Extrair Dados da Mensagem": {
      "main": [[
        { "node": "É Texto?", "type": "main", "index": 0 }
      ]]
    },
    "É Texto?": {
      "main": [
        [{ "node": "Unificar Mensagem", "type": "main", "index": 0 }],
        [{ "node": "É Áudio?", "type": "main", "index": 0 }]
      ]
    },
    "É Áudio?": {
      "main": [
        [{ "node": "Baixar Áudio Evolution", "type": "main", "index": 0 }],
        [{ "node": "Unificar Mensagem", "type": "main", "index": 0 }]
      ]
    },
    "Baixar Áudio Evolution": {
      "main": [[{ "node": "Whisper Transcrição", "type": "main", "index": 0 }]]
    },
    "Whisper Transcrição": {
      "main": [[{ "node": "Unificar Mensagem", "type": "main", "index": 0 }]]
    },
    "Unificar Mensagem": {
      "main": [[{ "node": "Tem URL?", "type": "main", "index": 0 }]]
    },
    "Tem URL?": {
      "main": [
        [{ "node": "PageSpeed Insights", "type": "main", "index": 0 }],
        [{ "node": "Sem Análise de Site", "type": "main", "index": 0 }]
      ]
    },
    "PageSpeed Insights": {
      "main": [[{ "node": "Processar PageSpeed", "type": "main", "index": 0 }]]
    },
    "Processar PageSpeed": {
      "main": [[{ "node": "Buscar Lead", "type": "main", "index": 0 }]]
    },
    "Sem Análise de Site": {
      "main": [[{ "node": "Buscar Lead", "type": "main", "index": 0 }]]
    },
    "Buscar Lead": {
      "main": [[{ "node": "Verificar Lead", "type": "main", "index": 0 }]]
    },
    "Verificar Lead": {
      "main": [[{ "node": "Lead Existe?", "type": "main", "index": 0 }]]
    },
    "Lead Existe?": {
      "main": [
        [{ "node": "Definir Lead ID", "type": "main", "index": 0 }],
        [{ "node": "Criar Lead", "type": "main", "index": 0 }]
      ]
    },
    "Criar Lead": {
      "main": [[{ "node": "Definir Lead ID", "type": "main", "index": 0 }]]
    },
    "Definir Lead ID": {
      "main": [[{ "node": "Buscar Histórico", "type": "main", "index": 0 }]]
    },
    "Buscar Histórico": {
      "main": [[{ "node": "Montar Contexto GPT", "type": "main", "index": 0 }]]
    },
    "Montar Contexto GPT": {
      "main": [[{ "node": "GPT-4o Mini Agente", "type": "main", "index": 0 }]]
    },
    "GPT-4o Mini Agente": {
      "main": [[{ "node": "Processar Resposta GPT", "type": "main", "index": 0 }]]
    },
    "Processar Resposta GPT": {
      "main": [[
        { "node": "Salvar Msg Recebida", "type": "main", "index": 0 },
        { "node": "Salvar Msg Enviada", "type": "main", "index": 0 },
        { "node": "Atualizar Lead", "type": "main", "index": 0 },
        { "node": "Dividir em Partes", "type": "main", "index": 0 },
        { "node": "Sugeriu Reunião?", "type": "main", "index": 0 }
      ]]
    },
    "Dividir em Partes": {
      "main": [[{ "node": "Simular Digitando", "type": "main", "index": 0 }]]
    },
    "Simular Digitando": {
      "main": [[{ "node": "Aguardar 5s", "type": "main", "index": 0 }]]
    },
    "Aguardar 5s": {
      "main": [[{ "node": "Enviar Parte", "type": "main", "index": 0 }]]
    },
    "Enviar Parte": {
      "main": [[]]
    },
    "Sugeriu Reunião?": {
      "main": [
        [{ "node": "Buscar WhatsApp Dono", "type": "main", "index": 0 }],
        []
      ]
    },
    "Buscar WhatsApp Dono": {
      "main": [[{ "node": "Notificar Dono Lead Quente", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "buildesign-principal-v4",
  "meta": { "instanceId": "buildesign" },
  "tags": [{ "name": "Buildesign", "id": "1" }]
}
